<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Python Addin</Name><AddInID>{36604db4-95af-4c17-a027-8ed36bfb8bfa}</AddInID><Description>Extraction des traits de cote</Description><Version>0.1</Version><Image>Images\Logo.PNG</Image><Author>KouchiFaune group</Author><Company>KouchiFaune</Company><Date>06/06/2019</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="addin_addin.py" namespace="addin_addin"><ArcMap>
    <Commands>
        <Button caption="Nouvelle classification" category="Python Addin" class="ButtonClass1" id="addin_addin.button_1" image="Images\logo_button11.png" message="" tip="Choix d'un r&#233;pertoire de travail"><Help heading="" /></Button>
        <Button caption="Mask" category="Python Addin" class="ButtonClass2" id="addin_addin.button_2" image="Images\logo_button22.png" message="" tip="Cr&#233;ation d'un masque pour &#233;liminer la r&#233;gion aquatique"><Help heading="" /></Button>
        <ComboBox caption="Classes" category="Python Addin" class="ComboBoxClass1" id="addin_addin.combobox" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip="Selectionner la classe pour laquelle vous voulez cr&#233;er des sites d'entrainement"><Help heading="" /></ComboBox>
	<Button caption="Site" category="Python Addin" class="ButtonClass3" id="addin_addin.button_3" image="Images\logo_button1.png" message="" tip="Cr&#233;ation des sites d'entrainement pour la classe s&#233;lectionn&#233;e"><Help heading="" /></Button>
        <Button caption="Effectuer classification" category="Python Addin" class="ButtonClass4" id="addin_addin.button_4" image="Images\logo_button2.png" message="" tip="Lorsque l'ensemble des sites d'entrainement sont cr&#233;&#233;s, cliquer sur ce bouton pour effectuer la classification"><Help heading="" /></Button>
        <Button caption="Nettoyage" category="Python Addin" class="ButtonClass5" id="addin_addin.button_5" image="Images\logo_button3.png" message="" tip="Effectue un nettoyage de la couche matricielle"><Help heading="" /></Button>
        <Button caption="Vectorisation" category="Python Addin" class="ButtonClass6" id="addin_addin.button_6" image="Images\logo_button4.png" message="" tip="Effectuer la vectorisation de la couche matricielle"><Help heading="" /></Button>
        <Button caption="Extraction" category="Python Addin" class="ButtonClass7" id="addin_addin.button_7" image="Images\logo_button5.png" message="" tip="Effectuer l'extraction des segments correspondant au trait de cote"><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Extraction des traits de cote" category="Python Addin" id="tdc.toolbar" showInitially="true"><Items><Button refID="addin_addin.button_1" /><Button refID="addin_addin.button_2" /><ComboBox refID="addin_addin.combobox" /><Button refID="addin_addin.button_3" /><Button refID="addin_addin.button_4" /><Button refID="addin_addin.button_5" /><Button refID="addin_addin.button_6" /><Button refID="addin_addin.button_7" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>